@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit
}

html,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400
}

ul {
  list-style: none
}

button {
  margin: 0
}

img {
  height: auto;
  max-width: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

html {
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, times new roman, serif;
  background: hsl(253, 21%, 17%);
  background: radial-gradient(at right top, hsl(253, 21%, 31%), hsl(253, 21%, 17%));
  color: #fff;
  box-sizing: border-box;
}

body,
main {
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  gap: 2rem;
  overflow: auto;
}

body>main>section>div,
footer>div {
  max-width: min(100rem, 100vw)
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  text-align: center;
  margin: 2rem;
}

header>* {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#hero {
  min-height: 80vh;
  width: 100%;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem
}

.alt-section-content>.section-title>a {
  color: #4A86CF;
}



.section-content,
.alt-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow-x: hidden
}

.alt-section-content {
  align-items: flex-start;
  width: 90ch;
  margin-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.alt-section-content p {
  font-size: 18px;
}

#hero .app-card-parent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

#hero .app-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  filter: drop-shadow(0 0 .5rem #0000004C);
}

#hero .app-logo {
  height: 128px;
  width: 128px
}

.screenshot {
  width: auto;
  height: auto
}

.section-content>.section-title,
.alt-section-content>.section-title {
  margin-bottom: 3rem
}

.issue>h2 {
  margin-bottom: 0.5rem;
}

.no-bg {
  color: #fff
}

.issue {
  overflow: auto;
  width: 100%;
}

pre {
  margin: 1rem 1rem;
  background-color: #241f31;
  padding: 1.4rem 1.2rem;
  border-radius: 12px;
  overflow: auto;
}

code {
  font-size: 18px;
  color: #99c1f1;
  font-weight: bold;
}

.submit-issues {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}

.submit-issues-link {
  padding: 1rem 1.5rem;
  border-radius: 999px;
  background-color: #3584E4;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width:898px) {

  #hero .section-content,
  #hero .alt-section-content {
    flex-direction: row
  }
}

@media only screen and (min-width:479px) {
  #hero .app-card {
    flex-direction: row;
    text-align: left
  }
}

@media(prefers-color-scheme:light) {
  html {
    background: hsl(152, 62%, 39%);
    background: radial-gradient(at right top, hsl(147, 63%, 47%), hsl(152, 62%, 34%));
  }

  .alt-section-content .section-title>a {
    color: white;
  }

  .submit-issues-link {
    background-color: black;
  }
}